body {
  margin: 0;
}
div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://mahekfaldu.github.io/mahek/img.jpg');
  background-size:cover;
}
canvas {
  top: 0;
  left: 0;
  position: absolute;
}
#mistscape {
  -webkit-filter: blur(80px);
}
